/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-content .col-sm-6{
  margin-bottom: 10px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 10px !important;
}
